//! **************************************************************************
// Written by: Map P.20131013 on Thu Mar 03 19:56:46 2016
//! **************************************************************************

SCHEMATIC START;
NET "clock_BUFGP/IBUFG" BEL "clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

